body {
    font-size: 16px;
}
h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
}
ul {
    background-color: purple;
    line-height: 30px;
}

p {
font-weight: 600;
font-size: 3em;
}

.colour-change {
    background-color: aquamarine;
}
#yellow {
    background-color: yellow;
}
#red{
    background-color: red;
}
#brown{
background-color: brown;
}
