ol li {
    background-color: yellow;
}

ol li:nth-child(even){
    color: green;

}
ol li:nth-child(odd){
    text-transform: uppercase;

}
.header{
    color: red;  
}
.header em {
    font-size: 40px;
    border: 1px black solid;

}