.super-mario {
    width: 200px;
 position: absolute;


  }
  
  .goomba {
    width: 100px;
    margin-top: 300px;
   

  }
  
  .baloon {
  
  }
  
  .speach {
    font-size: 25px;
  }
  
  .bowser {
    width: 200px;
  }